.orderDetails {
  margin: 1rem;
}

.orderDetailsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  align-items: center;
}

.orderDetailsHeaderLeft {
  font-weight: 500;
}
