.orderStatus {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.orderInfoBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.orderIdBox {
  padding: 0.3rem 0.8rem;
  background: rgb(10, 155, 46);
  border-radius: 10rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
}

.otpBox {
  padding: 0.3rem 0.8rem;
  background: orange;
  border-radius: 10rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
}

.statusBar {
  display: grid;
  grid-template-columns: repeat(9, 1.8rem);
  grid-gap: 0.3rem;
  padding: 1rem;
  margin: 0 2rem;
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
}

.statusBar > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.round {
  width: 2rem;
  height: 2rem;
  background-color: rgb(179, 174, 174);
  border-radius: 100%;
}

.statusIcons {
  color: white;
  font-size: 1.4rem;
  font-weight: 800;
  margin: 0.3rem;
}

.accepted {
  background-color: blue;
}

.received {
  background-color: green;
}

.line {
  height: 0.25rem;
  width: 100%;
  background-color: gray;
  margin: 0 0 1.2rem 0;
}

@media only screen and (min-width: 600px) {
  .statusBar {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .orderInfoBox {
    flex-direction: column;
  }

  .orderIdBox {
    margin-bottom: 1rem;
  }
}
