.ratingContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratingContainer > div {
  margin: 0.5rem 0;
}

.starsSection > * {
  margin: 0.3rem;
}

.feedbackContainer {
  border: 2px solid gray;
  border-radius: 3rem;
  padding: 1.2rem;
  max-width: 90vw;
}

.feedbackContainer > textarea {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: cursive;
  max-width: 80vw;
}

.submitBtn {
  margin: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 1rem;
  background-color: orange;
  outline: none;
  border: none;
  color: white;
  transition: all 0.3s ease-in-out;
  width: 10rem;
}

.submitBtn:hover {
  background-color: rgb(245, 161, 6);
  transform: scale(1.1);
}
